/* body */ 

body {
    margin: .5rem;
    background-color: #93b8d7;
    color: white;
}

/* body - medium screen */

@media (min-width: 768px){
    html {
        height: 100%;
    }

    body {
        background-image: url("/Users/sylviayanes/Desktop/web-dev/lis549-sp22-exercise-07-sylviayanes/img/splash-md.jpg");
        background-position: center;
        background-size: cover;
    }
}

/* nav icons */

.social-links {
    color: white;
    font-size: 2.5rem; 
    padding-right: .5em;
    display: none; 
}

/* nav icons - small screen */

@media (min-width: 598px) {
    .hamburger-menu {
        display: none;  
    }
    .social-links {
        display: block; 
    }
}



/* main */ 

main {
    text-align: center;
    font-family: 'Kaushan Script', 'fantasy';
    margin-top: 23vh;
}

/* main - medium screen  */
@media (min-width: 768px){
    main{
     text-shadow: 1px 1px #153c43;   
    }
}

/* main headings */

main h1 {
    font-size: 4rem;
}

main h2 {
    margin-top: 2em;
    font-size: 2rem;
}

/* footer */

footer{
    display: none;
}

/* footer - medium screen  */
@media (min-width: 768px){
    footer {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
    }
}

/* body - small */

/* body - medium */

/* body - large */