/* body */ 

body {
    margin: .5rem;
    background-color: #93b8d7;
    color: white;
}

/* nav icons */

.social-links {
    color: white;
    width: 2.5rem; 
    height: 2.5rem;
    padding-right: .5em;
}


/* body - small */

/* body - medium */

/* body - large */