/* body */

body {
    margin: .5rem;
    background-color: #93b8d7;
    color: white;
}

/* body - medium screen */

@media (min-width: 768px) {
    html {
        height: 100%;
    }

    body {
        background-image: url("../img/splash-md.jpg");
        background-position: center;
        background-size: cover;
    }
}

/* body - large screen */

@media (min-width: 992px) {
    body {
        background-image: url("../img/splash-lg.jpg");
    }
}

/* body - extra large screen */

@media (min-width: 1200px) {
    body {
        background-image: url("../img/splash-xl.jpg");
    }
}


/* nav icons */

#social-links, #social-links a:visited {
    color: white;
    font-size: 2.5rem;
    padding-right: .5em;
    display: none;
}

#hamburger-menu a:visited {
    color: white; 
}

/* nav icons - small screen */

@media (min-width: 598px) {
    #hamburger-menu {
        display: none;
    }

    #social-links {
        display: block;
    }
}

/* nav icons- large screen */

@media (min-width: 992px) {
    #social-links {
        font-size: 1.5rem;
    }
}


/* main */

main {
    text-align: center;
    font-family: 'Kaushan Script', 'fantasy';
    margin-top: 23vh;
}

/* main - medium screen  */
@media (min-width: 768px) {
    main {
        text-shadow: 1px 1px #153c43;
    }
}

/* main headings */

/* h1 */

main h1 {
    font-size: 4rem;
}

/* h1 - large screen */

@media (min-width: 992px) {
    main h1 {
        font-size: 5rem;
    }
}

/*  h2 */

main h2 {
    margin-top: 2em;
    font-size: 2rem;
}

/* h2 - large screen */

@media (min-width: 992px) {
    main h2 {
        font-size: 3rem;
    }
}


/* footer */

footer {
    display: none;
}

/* footer - medium screen  */
@media (min-width: 768px) {
    footer {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
    }
}